<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Página Perrona</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-info text-white">
        <span class="navbar-brand mb-0 h1 text-white">Navbar</span>
    </nav>

    <div class="container">
        <br />
        @RenderBody()
        <hr />
    </div>
 
    <footer class="text-info">
        <p class="text-center">&copy; @DateTime.Now.Year - <a href="https://www.facebook.com/enochgalindo" target="_blank">Enoch Galindo</a> & <a href="https://www.facebook.com/davidarturo.roanoluna" target="_blank">David Roano</a></p>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>